<p>
  <b>Amount:</b>
  <%=h @rate.amount %>
</p>

<p>
  <b><%= l(:field_user) %>:</b>
  <%=h @rate.user_id %>
</p>

<p>
  <b><%= l(:field_project) %>:</b>
  <%=h @rate.project_id %>
</p>

<p>
  <b>Date in effect:</b>
  <%=h @rate.date_in_effect %>
</p>


<%= link_to l(:button_edit), edit_rate_path(@rate) %> |
<%= link_to l(:button_back), rates_path %>
